html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


main {
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
  /* margin-left: 4.5%; */
}

/* Header.jsx */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  /* background-color:rgb(238, 186, 55) */
  /* background-color: rgb(32,104,164) */
  background-color: #041E42;
}

.header-title {
  /* color: black; */
  color: #FFFFFF;
  font-weight: 700;
}

.header-signup {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.header-login {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.header-welcome {
  font-size: 20px;
  color: #FFFFFF;
}

.header-logout {
  font-size: 20px;
}

/* ShowBooks.jsx */
.bookList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
  margin-left: 4.5%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px 6px #cecece;
  transition: all 0.25s;
  padding: 25px;
  margin: 10px 10px 60px;
  width: 370px;
  /* text-decoration: none; */
}

.book-title {
  text-align: center;
  padding-bottom: 20px;
  color:#0066c0;
  font-size: 21px;
}

.book-author {
  padding-bottom: 20px;
  color: #555
}

.book-price {
  color: #B12704;
  font-size: 19px;

}

.book-image:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

a {
  text-decoration: none;
}

/* SignUp.jsx */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.sign-up {
  background: #fff;
  border: 4px solid #c4c4c4;
  box-sizing: border-box;
  padding: 20px 20px 40px 34px;
}

.username {
  width: 270px;
  height: 35px;
  box-sizing: border-box;
  font-size: 18px;
}

.email {
  width: 270px;
  height: 35px;
  box-sizing: border-box;
  font-size: 18px;
}

.password {
  width: 270px;
  height: 35px;
  box-sizing: border-box;
  font-size: 18px;
}

.signup-button {
  width: 291px;
  height: 35px;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: rgb(238, 186, 55);
  font-size: 18px;
}

/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

.login {
background: #fff;
border: 4px solid #c4c4c4;
box-sizing: border-box;
padding: 20px 20px 40px 34px;
}

.login-username {
width: 270px;
height: 35px;
box-sizing: border-box;
font-size: 18px;
}

.login-email {
width: 270px;
height: 35px;
box-sizing: border-box;
font-size: 18px;

}

.login-password {
width: 270px;
height: 35px;
box-sizing: border-box;
font-size: 18px;

}

.login-button {
background-color: rgb(238, 186, 55);
width: 270px;
height: 35px;
box-sizing: border-box;
margin-top: 45px;
font-size: 18px;
}

/* BookDetails.jsx */
.bookdetails-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.details-container {
  /* justify-content: space-around; */
  width: 50%;
  font-size: 23px;
}

.bookdetails-image {
  margin-left: 55px;
}

/* ShowReviews.jsx */
.reviews-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.reviews-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 650px;
  margin-top: 50px;
}

.edit-delete {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-bottom: solid 1px;
  height: 55px;
  margin-left: 8px;
}

.review-button {
  font-size: 20px;
  font-weight: 540;
  margin-left: 179px;
  margin-top: 77px;
  width: 270px;
  height: 35px;
  box-sizing: border-box;
  background-color: rgb(238, 186, 55);
}

.showreviews-content {
  font-size: 23px;
  margin-right: 20px;
}

.showreviews-edit {
  font-size: 20px;
}

.showreviews-delete {
  font-size: 20px;
}


/* UpdateReview.jsx */
.updatereview-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updatereview-submit {
  margin-top: 40px;
  width: 270px;
  height: 35px;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: rgb(238, 186, 55);
  font-size: 20px;
}

/* CreateReview.jsx */
.createreview-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.createreview-submit {
  margin-top: 40px;
  width: 270px;
  height: 35px;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: rgb(238, 186, 55);
  font-size: 20px;
}

textarea { 
  font-size: 20px; 
}